*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(22,24,25);
    border-radius: 15px;
    padding: 20px;
    position: relative;
}
.logo{
    width: 10%;
}
.btn{
    background-color: rgb(234,36,111);
    color: white;
    border-radius: 25px;
    float: right !important;
}
.crt{
    position: absolute;
    right: 50px;
}
.cat{
    background:rgb(49,52,56);
    width: 18%;
    border-radius: 25px;
    color: rgb(184, 184, 184);
    font-size: 15px;
    font-weight: 600;
    /* margin-left: 12px; */
}
.dot{
    color: rgb(234,36,111);
}
.newsbox{
    background-color: rgb(22,24,25);
    padding: 20px;
    border-radius: 20px;
}